
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 20px;

  h1 {
    font-size: 100px;
    margin: 0;
    color: #FF6060;
  }

  p {
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
    color: #FF6060;
  }

  .goHome {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: black;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }
}
