@use "../assets/style/variables.scss";

.homeContainer {
  margin: auto;
  width: 90%;
  margin-bottom: 25px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: variables.$background-color;
  border-radius: 25px;
  margin: auto;
  padding: 3%;
  max-width: 1240px;
}
