@use "../../assets/style/variables.scss";

.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: variables.$primary-color;
  max-width: 340px;
  max-height: 340px;
  margin: auto;

  :hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 300px;
  }

  h3 {
    color: white;
    font-size: 18px;
    font-family: variables.$font-family;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
    padding: 5px;
    margin: 0;
  }
}
